@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    padding:0;
    margin: 0;
}

.wrapper{
    background: url('cherry.gif');
    background: #c4a494;
    background-size: cover;
    height: 100vh;
    font-family: 'Montserrat';
    color: whitesmoke;
}
.navbar {
    height: 80px;
    width: 100%;
}
.navtitle{
    font-size: 70px;
    line-height: 400px;
    padding: 100px 200px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 70px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
    padding: 6px 40px;
    transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background-color: rgb(0,0,0,0);
    border-radius: 2px;
    text-decoration:underline;
}
.line1 {
    border-left: 10px solid white;
    height: 170px;
    position: absolute;
    left: 50%;
    margin-left: 60px;
    top: 206px;
}
.line2 {
    border-top: 10px solid white;
    width: 54%;
    margin-top: -115px;
}
.line3{
    border-top: 10px solid white;
    width: 54%;
    margin-top: -170px; 
}
.line4 {
    border-left: 10px solid white;
    height: 250px;
    position: absolute;
    left: 50%;
    margin-left: 35px;
    top: 455px;
}
.line5 {
    border-top: 10px solid white;
    width: 47%;
    margin-top: 238px;
    margin-left:763px;
}
.line6{
    border-top: 10px solid white;
    width: 47%;
    margin-top: 228px; 
    margin-left:765px;
  }
.intro{
    color: whitesmoke;
    margin-left: 790px;
    margin-top: -220px;
    font-size: 150%;
}
a:link {
    color:lightgray;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Poppins';
}
a:visited {
    color:gray;
    text-decoration: none;
}
a:hover {
    color:whitesmoke;
    text-decoration: none;
}
.storms{
    font-size: 100px;
    margin-left: 550px;
    margin-top: 100px;
    vertical-align: middle;
}
.github{
    color: white;
    margin-left:600px;
    margin-top: 200px;
}
.mail{
    margin-left: 700px;
    margin-top: -125px;
}